.card-img-top {
    height: 180px;
    object-fit: cover;
}

.subject-list li {
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 4px;
}

.subject-list li.active {
    background-color: #f59e0b;
    color: white;
    font-weight: 600;
}

.subject-list li:hover {
    background-color: #f3f3f3;
}
